* 

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: rgb(8, 8, 8);
}

.app {
 background: #8f8c8c;
 width: 80%;
 max-width: 700px;
 margin: 100px auto 0;
 border-radius: 10px;
padding: 30px;

}

.app h1{
    font-size: 40px;
    color: rgb(103, 103, 106);
    font-weight: 600px;
    border-bottom: 2px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 30px 0;

}

.quiz h2{
    font-size: 20px;
    color: black;
    font-weight: 600;

}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 90%;
    border: 1px solid #222;
    padding: 10px; 
    margin: 10px 0;
    text-align: center;
    border-radius: 4px; 
    cursor: pointer;
    transition: all 0.3s;

}

.btn:hover:not([disabled])
{
    background: #060606;
    color: #fff;
}

.btn:disabled {
    cursor: no-drop;
}

.next_btn
{
    background: #e1e0e0;
    color : black;
    font-weight: 500 ;
    width: 200px;
    border: 10px;
    padding: 10px;
    margin: 20px auto 2px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
 .correct {
     background: chartreuse;
 }

    .incorrect {
        background: red;

    }

    